
.css-13kaxyk-MuiTypography-root{
    margin-left: -10% !important;
}
.logo{
    width: 35%;
    height: 45%;
    margin-left: 75%;
}
@media(max-width: 1440px) {
   .logoName{
    margin-left: -1% !important;
   }
  
}
@media(max-width: 1024px) {
    .pagesadapt{
        margin-left: 150% !important;
       }
}